{% extends "base.html" %}

{% block title %}
    {{ super() }}
     - 华润周报
{% endblock %}

{% block content %}
    <div class="container">
        <h1>华润周报</h1>
        <hr/>

        <h2>住宅市场</h2>
        <h3>全市量价</h3>
        {{ gxj['住宅']|safe }}
        <h3>排行</h3>
        {{ rank['住宅']|safe }}
        <hr/>
    
        {% for wuye in ['商业','办公'] %}
            <h2>{{ wuye }}市场</h2>
            <h3>全市量价</h3>
            {{ gxj[wuye]|safe }}
            {% include "weekly/shuoli.html" %}
            <h3>排行</h3>
            {{ rank[wuye]|safe }}
            <hr/>
        {% endfor %}
        
    </div>
{% endblock %}