{# 上市 #}
{% set d = data[wuye] %}
{% if d['上市面积'] != 0 %}
    <p>
        本周{{ wuye }}市场上市{{ d['上市面积'] }}万㎡
        {% if d['上市面积环比'] != 'NA' %}
            ，环比{{ d['上市面积环比'] }}
        {% endif %}
        。
    </p>
{% else %}
     <p>本周{{ wuye }}市场无上市。</p>
{% endif %}
{# 成交 #}
{% if  d['已售面积'] != 0 %}
    <p>
        成交{{ d['已售面积'] }}万㎡
        {% if d['已售面积环比'] != 'NA' %}
            ，环比{{ d['已售面积环比'] }}
        {% endif %}
        。
    </p>
    <p>
        成交均价{{ d['均价'] }}万㎡
        {% if d['均价环比'] != 'NA' %}
            ，环比{{ d['均价环比'] }}
        {% endif %}
        。
    </p>
{% else %}
    <p>本周{{ wuye }}市场无成交。</p>
{% endif %}