{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron  -->
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
				<h1>RS试验 <small>测试版</small></h1>
			</div><!-- /page-header -->
            <p>“RS”即“Report System”，包含政府、企业等周月报内容。</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">More  &raquo;</a></p>
        </div><!-- /cotainer -->
    </div>

    <!-- Example row of columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>周报</h2>
                <p>周报系统</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>月报</h2>
                <p>月报系统 </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>试验</h2>
                <p>用于尝试各种功能的实现</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
