{# 导航栏的内容，链接：url_for(nav[key]) #}
{% set nav = {
    '首页': 'main.index',
    '网尚周报': 'weekly.winsun',
    '华润周报': 'weekly.huarun',
    }
%}

{# 导航栏 #}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            {# 折叠后的菜单键，即3个"icon-bar"  #}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# 导航栏标题 #}
            <a class="navbar-brand">RS试验</a>
        </div><!-- /narbar header -->

        <div id="navbar" class="collapse navbar-collapse">
            {# 导航栏内容 #}
            <ul class="nav navbar-nav">
                {% for each in nav %}
                    {% set url = url_for(nav[each]) %}
                    <li {{ ' class="active" '|safe if url == request.path }}>
                        <a href= "{{ url }}">
                            {{ each }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- /narbar nav -->
    </div><!-- /container -->
</nav>